.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---- CLB CSS ------ */

.board-row {
     /* padding: 0px;
     background: #ddd; */
     margin-bottom: 1px;
}

.board-single-container {
     display: inline-block;
     padding: 8px;
     width: 50px;
     height: 50px;
     margin: 0 1px;
     background: #ffff80;
}

.icon-area.blank {
     color: #fff;
}

.cell.player-1 {
     color: #fff;
     background: red;
     display: inline-block;
     border-radius: 50%;
     height: 50px;
     width: 50px;
}

.cell.player-2 {
     color: #fff;
     background: black;
     display: inline-block;
     border-radius: 50%;
     height: 50px;
     width: 50px;
}

.icon-area {
     margin-top: 8px;
}

button.play-button {
     min-width: 68px;
}

.board {
     padding: 40px;
}

.action-button-area {
     margin-bottom: 30px;
}

.game-board-area {
     text-align: center;
}

.game-meta-area {
     margin-bottom: 30px;
}

.cell.animate {
     animation-duration: 1.5s;
     animation-name: falldown500;
     animation-iteration-count: 1;
     animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.row-5 .cell.animate {
     animation-duration: 1.5s;
     animation-name: falldown500;
     animation-iteration-count: 1;
     animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.row-4 .cell.animate {
     animation-duration: 1.25s;
     animation-name: falldown400;
     animation-iteration-count: 1;
     animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.row-3 .cell.animate {
     animation-duration: 1s;
     animation-name: falldown300;
     animation-iteration-count: 1;
     animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.row-2 .cell.animate {
     animation-duration: .75s;
     animation-name: falldown200;
     animation-iteration-count: 1;
     animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.row-1 .cell.animate {
     animation-duration: .75s;
     animation-name: falldown100;
     animation-iteration-count: 1;
     animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

.row-0 .cell.animate {
     animation-duration: .75s;
     animation-name: falldown100;
     animation-iteration-count: 1;
     animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes falldown500 {
   0%   { transform: translateY(-500px); }
   50%  { transform: translateY(0) rotateZ(180deg); }
   57%  { transform: translateY(-7px) rotateZ(190deg); }
   64%  { transform: translateY(0) rotateZ(200deg); }
   100% { transform: translateY(0) rotateZ(360deg); }
}

@keyframes falldown400 {
   0%   { transform: translateY(-400px); }
   50%  { transform: translateY(0) rotateZ(180deg); }
   57%  { transform: translateY(-7px) rotateZ(190deg); }
   64%  { transform: translateY(0) rotateZ(200deg); }
   100% { transform: translateY(0) rotateZ(360deg); }
}

@keyframes falldown300 {
   0%   { transform: translateY(-300px); }
   50%  { transform: translateY(0) rotateZ(180deg); }
   57%  { transform: translateY(-7px) rotateZ(190deg); }
   64%  { transform: translateY(0) rotateZ(200deg); }
   100% { transform: translateY(0) rotateZ(360deg); }
}

@keyframes falldown200 {
   0%   { transform: translateY(-200px); }
   50%  { transform: translateY(0) rotateZ(180deg); }
   57%  { transform: translateY(-7px) rotateZ(190deg); }
   64%  { transform: translateY(0) rotateZ(200deg); }
   100% { transform: translateY(0) rotateZ(360deg); }
}

@keyframes falldown100 {
   0%   { transform: translateY(-100px); }
   50%  { transform: translateY(0) rotateZ(180deg); }
   57%  { transform: translateY(-7px) rotateZ(190deg); }
   64%  { transform: translateY(0) rotateZ(200deg); }
   100% { transform: translateY(0) rotateZ(360deg); }
}

.announcement.winner {
     display: inline-block;
     background: #ffff80;
     padding: 0px 20px;
     border-radius: 5px;
     margin-bottom: 20px;
}